<h1>Palautesovellus</h1>
<br>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ username }}</p>
<a href="/logout">Kirjaudu ulos</a><br>
<a href="/my_projects">Omat projektit</a><br>
<a href="/my_feedback">Omat palautteesi</a><br>
<p>Valitse projekti</p>
<hr>
{% for project in projects %}
<a href="/project/{{ project.id }}">{{ project.project_name }}</a>
<br>
</hr>
{% endfor %}
<form action="newproject" method="POST">
    <p>Luo uusi projekti<br>
        <input type="text" name="project">
    </p>
    <input type="submit" value="Luo projekti">
</form>
<br>
{% else %}
<p>Jos sinulla on jo käyttäjätunnus, kirjaudu sisään.</p>
<form action="/login" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username">
    </p>
    <p>Salasana:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Kirjaudu">
</form>
<p><br>Jos sinulla ei ole vielä käyttäjätunnusta, luo uusi tunnus.</p>
<form action="/createuser" method="POST">
    <p>Tunnus:<br>
        <input type="text" name="username">
    </p>
    <p>Salasana:<br>
        <input type="password" name="password">
    </p>
    <input type="submit" value="Luo uusi käyttäjä">
</form>
{% endif %}