<h1>Palautesovellus</h1>
<br>
{% if session.user_id %}
<p>Olet kirjautunut nimellä {{ username }}</p>
<a href="/logout">Kirjaudu ulos</a><br>
<a href="/my_projects">Omat projektit</a><br>
<a href="/my_feedback">Omat palautteesi</a><br>
<p>Valitse projekti</p>
<hr>
{% for project in projects %}
<a href="/project/{{ project.id }}">{{ project.project_name }}</a>
<br>
</hr>
{% endfor %}
<form action="newproject" method="POST">
    <p>Luo uusi projekti<br>
        <input type="text" name="project">
    </p>
    <input type="submit" value="Luo projekti">
</form>
<br>
{% else %}
<a href="/login">Kirjaudu sisään</a>
<br>
<a href="/register">Rekisteröidy</a>
{% endif %}