<h2>Omat projektit</h2>
{% for project in user_projects %}
{{ project.project_name }} <br>
{% endfor %}
<br>
<h2>Lisää projekti</h2>
<form action="/my_projects" method="POST">
    Projektin nimi:
    <select name="project_id">
        {% for project in all_projects %}
        <option value="{{ project.id }}">{{ project.project_name }}</option>
        {% endfor %}
    </select>
    Nimi: <input type="text" name="user_name">
    Rooli: <input type="text" name="user_role">
    <input type="submit" value="Lähetä">
</form>

<script>
    function check(form) {
        if (form.user_name.value.length > 30) {
            alert("Nimi on liian pitkä");
            return false;
        }
        if (form.user_name.value.length < 1) {
            alert("Nimi on liian lyhyt");
            return false;
        }
        if (form.user_role.value.length > 30) {
            alert("Rooli on liian pitkä");
            return false;
        }
        return true;
    }
</script>

<br>
<br>
<a href="/">Etusivulle</a>